section.benefits
  .container
    .row-fluid
      .span12
        hr
    .row-fluid
      .items
        each item in section.items
          .span3
            img(src="/images/" + item.icon)
            h5= item.title
            p= item.text
