
<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/css3-mediaqueries.js"></script>
  </head>

  <body>
    <div class="wrapper" >
      <div class="container">
        <div class="row-fluid">
          <div class="span12 page-not-found">
            <a href="/" ><img src="/images/logo.png"/></a>
            <span>404 Page Not Found</span>
            <h2>There isn't a Page here.</h2>
            <p>We are sorry that you visited an unexisted page. If there's other problem, please feel free to <a href="/">contact us</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
