doctype 5
html
  include partials/head
  body
    .wrapper
      .container
        .row-fluid
          .span12.page-not-found
          a(href="/")
            img(src="/images/logo.png")
            span 404 Page Not Found
            h2 There isn't a Page here.
            p We are sorry that you visited an unexisted page. If there's other problem, please feel free to
              a(href="/") contact us
