doctype 5
html
  include partials/head
  body
    .wrapper
      each section in sections
        if section.type == 'nav-bar'
          include partials/nav-bar
        if section.type == 'call-to-action'
          include partials/call-to-action
        if section.type == 'benefits'
          include partials/benefits
        if section.type == 'features'
          include partials/features
        if section.type == 'supported-trackers'
          include partials/supported-trackers
        if section.type == 'pricing'
          include partials/pricing
        if section.type == 'contact-form'
          include partials/contact-form
      .push
    footer
      p Copyright (c) 2013 Birkett Enterprise Ltd
