<!DOCTYPE html>
<html ng-app="ten20" ng-controller="FrontPageCtrl">
  <head>
    <title ng-bind="data.pageTitle"></title>
    <script src="/js/lib/angular/angular.min.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/directives.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="container">

      <div class="row-fluid">
        <div class="header">
          <a href="/" class="logo"><img ng-src="/images/{{ data.sections[0].logo }}"/></a>
          <ul class="nav">
            <li ng-repeat="navItem in data.sections[0].navLinks">
            <a href="#/{{ navItem.link }}" class="menu {{ navItem.status }}">{{ navItem.text }}</a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>

        <div class="benefits">
          <hr />
          <ul>
            <li ng-repeat="item in data.sections[2].items">
            <img ng-src="/images/{{ item.icon }}" />
            <h5>{{item.title}}</h5>
            <p>{{item.text}}</p>
            </li>
          </ul>
        </div>

    </div>
    </div>
  </body>
</html>
