<!DOCTYPE html>
<html ng-app="ten20" ng-controller="FrontPageCtrl">
  <head>
    <title ng-bind="data.pageTitle"></title>
    <script src="/js/lib/angular/angular.min.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/directives.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="container">
        <span ng-repeat="section in data.sections">
             <div class="header" ng-show="section.type == 'nav-bar'">
                 <a href="/" class="logo"><img ng-src="/images/{{ section.logo }}"/></a>
                 <ul class="nav">
                     <li ng-repeat="navItem in section.navLinks">
                         <a href="{{ navItem.link }}" class="menu {{ navItem.status }}">{{ navItem.text }}</a>
                     </li>
                 </ul>
                 <div class="clear"></div>
             </div>

            <div class="benefits" ng-show="section.type == 'benefits'">
                <hr />
                <ul>
                    <li ng-repeat="item in section.items">
                        <img ng-src="/images/{{ item.icon }}" />
                        <h5>{{item.title}}</h5>
                        <p>{{item.text}}</p>
                    </li>
                </ul>
            </div>
        </span>
    </div>
    </div>
  </body>
</html>
