@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=4e9d8d48-80ae-404c-98ef-b169fe3b02f6");
@font-face{
font-family:"AvenirNextLTW01-Regular";
src:url("Fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
src:url("Fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("Fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("Fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("Fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
}
@font-face{
font-family:"Avenir Next LT W01 Demi";
src:url("Fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
src:url("Fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),url("Fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),url("Fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),url("Fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
}

/* general styles */
body {
  color: #eee;
  background-color: #272727;
  padding: 0;
  margin: 0;
  font: 400 12px/18px 'AvenirNextLTW01-Regular', 'Avenir Next LT W01 Demi', Arial;
}

h1 {
  font: 400 36px/54px 'AvenirNextLTW01-Regular';
}

h2 {
  font: 400  14px/21px 'Avenir Next LT W01 Demi';
}

h3 {
  font: 400 11px/18px 'AvenirNextLTW01-Regular';
  text-transform: uppercase;
}

h4 {
  font: 400 11px/18px 'Avenir Next LT W01 Demi';
  text-transform: uppercase;
}

h5 {
  font: 400 11px/18px  Arial, 'AvenirNextLTW01-Regular', 'Avenir Next LT W01 Demi';
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  margin: 0 auto -50px;
}

.push {
  padding-bottom: 50px;
}

ul { list-style: none; }

.clear {
  clear: both;
}

/* header styles */
header {
  padding: 20px 0;
}

.nav {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 0;
  float: right;
}

.logo {
  float: left;
}

.nav > li {
  display: inline;
  margin-left: 20px;
}

.nav > li a {
  font-weight: 400;
  color: #eee;
  padding: 5px 8px;
  display: inline;
  text-transform: uppercase;
}

.nav > li a:hover {
  color: #f60;
  background-color: #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
}

.nav > li a.active {
  color: #f60;
  font-style: bold;
}

/************************* home page styles *********************************/
/* map section styles */
.mapbox {
  position: relative;
  height: 501px;
  width: 100%;
  background-color: #272727;
}

.mapbox #map {
  position: absolute;
  top: 1px;
  bottom: 0;
  width: inherit;
}


/* hide legends and attribution */
.mapbox #map .map-legends.leaflet-control,
.mapbox #map .leaflet-control-attribution {
  display: none;
}

.mapbox .call-to-action {
  position: absolute;
  top: 270px;
  left: 0;
  right: 0;
  color: #eee;
  text-align: center;
  z-index: 100;
}

.mapbox .call-to-action h3 {
  font-size: 18px;
  text-transform: none;
}

.mapbox .call-to-action a.button {
  display: inline-block;
  padding: 20px 20px;
  margin: 10px;
  color: #eee;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  border: none;
  background-color: #f60;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-transform: uppercase;
}

.mapbox .call-to-action span {
  text-transform: uppercase;
  font-size: 12px;
}

.mapbox .banner {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 100;
}

/* benefits section styles */
.benefits {
  color: #333;
  background-color: #eee;
  padding: 40px 0 10px 0;
  text-align: center;
  position: relative;
  width: inherit;
}

.benefits hr {
  border-top: 1px rgb(255, 100, 0) solid;
  margin: 0 10%;

}

.benefits .items {
  position: relative;
  top: -40px;
  font-size: 14px;
}

.benefits .items p {
  text-align: left;
}

.benefits .items img {
  max-width: 70%;
  background-color: #eee;
  padding: 0 40px;
}

/* list view section styles */
.list-view .row-fluid .span8 {
  margin: 30px auto;
  float: none;
  text-align: center;
  font-weight: normal;
}

.list-view .feature-item {
  padding-bottom: 20px;
}

.list-view .span8 h4 {
  padding-bottom: 20px;
}

.list-view .span8 h3 {
  font-size: 18px;
  text-transform: none;
  letter-spacing: 0.3em;
}

.list-view .span8 h3 span {
  color: #f60;
}

.list-view .span8 img {
  padding-bottom: 10px;
}

.list-view .span8 p {
  max-width: 300px; 
  margin: 0 auto;
}

.list-view .list-content {
  max-width: 320px;
  width: 90%;
  height: 300px;
  display: inline-block;

}
/* carousel-view section styles */
.carousel-view {
  padding: 60px 0;
}

.carousel-view h4 {
  text-align: center;
  padding-bottom: 20px;
  color: #f60;
}

.carousel-view .carousel-inner {
  text-align: center;
}

.carousel-view .carousel-inner img {
  max-width: 70%;
  margin: auto;
  padding-top: 50px;
}

.carousel-view .carousel-inner .item {
  padding-top: 50px;
}

.carousel-view .carousel-inner .item.show {
  display: block;
}

.carousel-view .carousel-inner .carousel-map {
  max-width: 70%;
  margin:auto;
  height: 300px;
}

.carousel-view .carousel-inner p {
  padding-top: 20px;
}

.carousel-view .carousel-inner .carousel-caption {
  bottom: auto;
  top: 0;
  padding-top: 0;
  background: none;
}

.carousel-view .carousel-indicators {
  position: absolute;
  top: auto;
  left: 50%;
  width: 53px;
  margin-left:-26px;
  bottom: -45px;
}

.carousel-view .carousel-indicators .active {
  background-color: #f60;
}

.carousel-view .carousel-control {
  border: none;
  background: none;
}

/* pricing section styles */
.pricing {
  text-align: center;
  overflow:auto;
}

.pricing .head {
  background-color: #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 200px;
  margin: 0 auto;
  margin: 20px auto;
  padding: 20px 0;
}

.pricing .head.highlight {
  background-color: #d60;
}

.pricing .head h3 a {
  color: #f60;
  font-size: 14px;
  text-decoration: underline;
}

.pricing .head h5 {
  font-size: 15px;
}

.pricing .head.highlight h3 a {
  color: #272727;
  font-weight: bold;
}

.pricing .head h5 span{
  font-style: italic;
  margin-left: 5px;
  font-weight: light;
}

.pricing .span4 p {
  margin-bottom: 30px;
}

/* contact section styles */
.contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: none;
}

.contact .form {
  max-width: 300px;
  margin: 100px auto;
  text-align: center;
  position: relative;
}

.contact .form .cancel {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 20px;
  background-color: #666;
  padding: 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.contact .form .cancel:hover {
  background-color: #d60;
  cursor: pointer;
}

.contact .form h3 {
  text-transform: none;
  font-size: 16px;
  line-height: 22px;
}

.contact .form ul {
  margin: 0;
  padding: 0;
}

.contact .form li {
  display: block;
  text-align: left;
  height: 30px;
  padding-top: 12px;
}

.contact .form li.list-text {
  border-bottom: 1px solid #eee;
}

.contact .form li.btn-wrap {
  text-align: center;
}

.form label {
  text-align: left;
  display: inline-block;
  margin-right: 5px;
}

.form input {
  width: auto;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.form input[type="text"] {
  color: #aaa;
  cursor: text;
}

.form input[type="text"]:focus {
  color: orange;
  border-color: #00d;
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(221,102,0,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(221,102,0,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(221,102,0,0.6);
}

.form input[type="checkbox"] {
  float: right;
  width: 20px;
  height: 20px;
}

.form button {
  margin: 20px auto;
  padding: 18px;
  max-width: 180px;
  width: 90%;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: rgb(255, 102, 0);
  opacity: 1;
  background:rgba(255, 102, 0, 1);
  color: #eee;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;

}

.form button + p {
  text-align: left;
  color: #999;
}

.regular-checkbox {
  display: none;
}
 
.regular-checkbox + label {
    background: none;
    border: 1px solid #aaa;
    color: #aaa;
    padding: 15px;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.85;
    display: inline-block;
    position: relative;
    top: -7px;
    float: right;
}
 
 
.regular-checkbox + label:hover {
  color: #f60;
  border: 1px solid #f60;
}

.regular-checkbox:checked + label {
    background: none;
}
 
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
}

/* footer styles */
footer {
  width: 100%;
  color: #eee;
  height: 50px;
  text-align: center;
}

footer p {
  margin-top: 100px;
  padding-top: 20px;
  border-top: 1px solid #aaa;
  font-size: 12px;
}

/************************* login page styles *********************************/

/************************* 404 page styles *********************************/
.page-not-found {
  margin: 100px auto;
  text-align: center;
  font-size: 30px;
}

.page-not-found h2 {
  margin-top: 20px;
}

.page-not-found p {
  color: #f60;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  max-width: 350px;
  margin: 20px auto;
}

.page-not-found p a {
  color: #eee;
}

/* tablet and mobile styles */
@media only screen and (max-width: 979px) {

  .wrapper .container {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }

  .mapbox .call-to-action {
    position: absolute;
    top: 200px;
  }
}


@media only screen and (max-width: 767px) {

  .nav-collapse .nav { margin-top: 20px; }

  .navbar { margin-bottom: 0 }

  .navbar .btn-navbar .icon-bar {
    background-color: #f60;
  }

  .nav > li {
    display: block;
    margin: 10px 0;
    width: 100%;
  }

  .nav > li a {
    width: 90%;
    display: inline-block;
    text-shadow: none !important;
    color: #eee !important;
  }

  .nav > li a:hover {
    color: #f60 !important;
  }

  .mapbox .call-to-action {
    position: absolute;
    top: 150px;
  }

  .mapbox .call-to-action span {
    display: block;
  }

  .benefits hr {
    display: none;
  }

  .benefits .items .span3 {
    width: 100%;
    margin: 0;
  }

  .benefits .items .span3 p {
    text-align: center;
  }

  .carousel-view .carousel-inner img {
    max-width: 100%;
  }


  .contact {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
  }

  .contact .form {
    max-width: 300px;
    margin: 50px auto;
  }
}

