/* general styles */
body {
  color: #eee;
  background-color: #272727;
  padding: 0;
  margin: 0;
  font: 400 12px/18px 'AvenirNextLTW01-Regular', 'Avenir Next LT W01 Demi', Arial, sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

h3 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  margin: 0 auto -100px;
}

ul { list-style: none; }

.clear {
  clear: both;
}

/* header styles */
header {
  padding: 20px 0;
}

.nav {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 0;
  float: right;
}

.logo {
  float: left;
}

.nav > li {
  display: inline;
}

.nav > li a {
  font-weight: 400;
  font-size: 12px;
  color: #eee;
  padding: 5px 5px;
  display: inline;
  text-transform: uppercase;
}

.nav > li a:hover {
  color: #f60;
  background-color: #eee;
}

.nav > li a.active {
  color: #f60;
  font-style: bold;
}

/************************* home page styles *********************************/
/* map section styles */
.mapbox {
  position: relative;
  height: 501px;
  width: 100%;
  background-color: #eee;
}

.mapbox #map {
  position: absolute;
  top: 1px;
  bottom: 0;
  width: inherit;
}

.featuremap {
  width:320px;
  height:320px;
  display:inline-block;
}

/* hide legends and attribution */
.mapbox #map .map-legends.leaflet-control,
.mapbox #map .leaflet-control-attribution {
  display: none;
}

.mapbox .call-to-action {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  color: #eee;
  text-align: center;
  z-index: 100;
}

.mapbox .call-to-action h2 {
  margin-bottom: 0;
}

.mapbox .call-to-action a.button {
  display: inline-block;
  padding: 20px 20px;
  width: 140px;
  color: #eee;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  background: url('/images/round-rect.png') no-repeat center center; 
  background-size: 90%;
  /* fix ie8 support for background-size */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/round-rect.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/round-rect.png', sizingMethod='scale')";
  text-transform: uppercase;
}

.mapbox .call-to-action span {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
}

.mapbox .banner {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 100;
}

/* benefits section styles */
.benefits {
  color: #333;
  background-color: #eee;
  padding: 40px 0 10px 0;
  text-align: center;
  position: relative;
  width: inherit;
}

.benefits hr {
  border-top: 1px rgb(255, 100, 0) solid;
  margin: 0 10%;

}

.benefits .items {
  position: relative;
  top: -40px;
  font-size: 14px;
}

.benefits .items p {
  text-align: left;
}

.benefits .items img {
  max-width: 70%;
  background-color: #eee;
  padding: 0 40px;
}

/* key features section styles */
.key-features .row-fluid .span8 {
  margin: 30px auto;
  float: none;
  text-align: center;
  font-weight: normal;
}

.key-features .feature-item {
  padding-bottom: 20px;
}

.key-features .span8 h2 {
  padding-bottom: 20px;
  color: #f60;
}

.key-features .span8 h3 span {
  color: #f60;
}

.key-features .span8 img {
  padding-bottom: 10px;
}

.key-features .span8 p {
  max-width: 300px; 
  margin: 0 auto;
}

/* trackers section styles */
.trackers {
  padding: 60px 0;
}

.trackers h2 {
  text-align: center;
  padding-bottom: 20px;
  color: #f60;
}

.trackers .carousel-inner {
  text-align: center;
}

.trackers .carousel-inner img {
  max-width: 70%;
  margin: auto;
  padding-top: 50px;
}

.trackers .carousel-inner p {
  padding-top: 20px;
}

.trackers .carousel-inner .carousel-caption {
  bottom: auto;
  top: 0;
  padding-top: 0;
  background: none;
}

.trackers .carousel-indicators {
  position: absolute;
  top: auto;
  left: 50%;
  width: 53px;
  margin-left:-26px;
  bottom: -45px;
}

.trackers .carousel-indicators .active {
  background-color: #f60;
}

.trackers .carousel-control {
  border: none;
  background: none;
}

/* pricing section styles */
.pricing {
  text-align: center;
  overflow:auto;
  padding-bottom: 100px;
}

.pricing .head {
  background-color: #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 200px;
  margin: 0 auto;
  margin: 20px auto;
  padding: 20px 0;
}

.pricing .head.highlight {
  background-color: #d60;
}

.pricing .head h3 {
  color: #f60;
}

.pricing .head.highlight h3 {
  color: #272727;
  font-weight: bold;
}

.pricing .head h5 span{
  font-style: italic;
  margin-left: 5px;
  font-weight: light;
}

.pricing .span4 p {
  margin-bottom: 30px;
}

/* contact section styles */
.contact {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: none;
}

.contact .form {
  max-width: 300px;
  margin: 100px auto;
  text-align: center;
}

.contact .form h3 {
  text-transform: none;
  font-size: 16px;
  line-height: 22px;
}

.contact .form ul {
  margin: 0;
  padding: 0;
}

.contact .form li {
  display: block;
  text-align: left;
  height: 30px;
  padding-top: 12px;
}

.contact .form li.list-text {
  border-bottom: 1px solid #eee;
}

.form label {
  text-align: left;
  display: inline-block;
  margin-right: 5px;
}

.form input {
  width: auto;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.form input[type="text"]:focus {
  color: #eee;
  border-color: #d60;
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(221,102,0,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(221,102,0,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(221,102,0,0.6);
}

.form input[type="checkbox"] {
  float: right;
  width: 20px;
  height: 20px;
}

.form button {
  margin: 20px;
  padding: 18px;
  width: 180px;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background:rgba(255, 102, 0, 1);
  color: #eee;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;

}

.form button + p {
  text-align: left;
  color: #999;
}

.regular-checkbox {
  display: none;
}
 
.regular-checkbox + label {
    background: none;
    border: 1px solid #eee;
    padding: 15px;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.85;
    display: inline-block;
    position: relative;
    top: -7px;
    float: right;
}
 
 
.regular-checkbox:checked + label {
    background: none;
    border: 1px solid #f60;
    color: #f60;
}
 
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #f60;
}

/* footer styles */
footer {
  width: 100%;
  color: #eee;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
}

footer p {
  margin-top: 100px;
  padding-top: 50px;
  color: #f60;
  border-top: 1px solid #eee;
  font-size: 16px;
}

/************************* login page styles *********************************/

/************************* 404 page styles *********************************/
.page-not-found {
  margin: 100px auto;
  text-align: center;
  font-size: 30px;
}

.page-not-found h2 {
  margin-top: 20px;
}

.page-not-found p {
  color: #f60;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  max-width: 350px;
  margin: 20px auto;
}

/* tablet and mobile styles */
@media only screen and (max-width: 940px) {

  .wrapper .container {
    margin-left: 3%;
    margin-right: 3%;
    width: auto;
  }

  .mapbox .call-to-action {
    position: absolute;
    top: 200px;
  }
}


@media only screen and (max-width: 500px) {

  .mapbox .call-to-action {
    position: absolute;
    top: 150px;
  }

  .mapbox .call-to-action span {
    display: block;
  }

  .benefits hr {
    display: none;
  }

  .benefits .items .span3 {
    width: 100%;
    margin: 0;
  }

  .benefits .items .span3 p {
    text-align: center;
  }

  .trackers .carousel-inner img {
    max-width: 100%;
  }


  .contact {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
  }

  .contact .form {
    max-width: 300px;
    margin: 50px auto;
  }
}

