/* general styles */
body {
  color: #eee;
  background-color: #333;
  font: ;
}

ul { style: none; }

.container {
  margin: 30px auto;
}

.clear {
  clear: both;
}

/* header styles */
.nav {
  list-style: none;
  margin-top: 10px;
  padding: 0 0 0.5em;
  float: right;
}

.logo {
  float: left;
  margin-left: 20px;
}

.nav > li {
  display: inline;
  margin-right: 20px;
  font-size: 16px;
}

.nav > li a {
  color: #eee;
  padding: 5px 5px;
  display: inline;
  text-transform: uppercase;
}

.nav > li a:hover {
  color: rgb(255, 100, 0);
  background-color: #eee;
}

.nav > li a.active {
  color: rgb(255, 100, 0);
  font-style: bold;
}

/************************* home page styles *********************************/
/* benefits styles */
.benefits {
  color: #333;
  background-color: #eee;
  padding: 40px 10px 10px 10px;
  text-align: center;
  position: relative;
}

.benefits hr {
  border-top: 1px rgb(255, 100, 0) solid;
  margin: 0 10%;

}

.benefits ul {
  position: relative;
  top: -15px;
  margin-bottom: -10px;

}

.benefits li {
  display: inline-block;
  margin: 0 40px;
  max-width: 16%;
  font-size: 14px;
}

.benefits li p {
  text-align: left;
}

.benefits li img {
  background-color: #eee;
  padding: 0 40px;
}

/* footer styles */

/************************* login page styles *********************************/
/* tablet and mobile styles */
