<div class="modal-header">
  <img src="/images/logo.png" alt="" />
  <h3 ng-show="!succ && error == ''">thank you for your interest, please enter your details below</h3>
  <h3 class="succ" ng-show="succ">we'll be in touch soon!</h3>
  <h6 class="error" ng-show="error!=''">{{error}}</h6>
  <div class="cancel" ng-click="cancel()">
    <span>X</span>
  </div>
</div>
<div class="modal-body" ng-hide="succ">
  <form name="f" class="form-horizontal" role="form" ng-class="{'show-invalid': formInvalid}">

    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" id="first-name" placeHolder="first name" class="form-control" ng-model="data.firstName" ng-pattern="/\w.*/" required ng-disabled="sync" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" id="last-name" placeHolder="last name" class="form-control" ng-model="data.lastName" ng-pattern="/\w.*/" required ng-disabled="sync" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" id="email" placeHolder="email address" class="form-control" ng-model="data.email"  ng-pattern="/[a-zA-Z0-9]+@[a-zA-Z0-9]+/" required ng-disabled="sync" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" id="phone" placeHolder="phone number" class="form-control" ng-model="data.phone"  ng-pattern="/^[-\d]+$/" ng-disabled="sync" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" id="company-name" placeHolder="your company name" class="form-control" ng-model="data.companyName" ng-pattern="/[\w]+$/" ng-disabled="sync" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" id="website" placeHolder="your website url" class="form-control" ng-model="data.website" ng-disabled="sync" />
      </div>
    </div>

    <div class="form-group no-btm-border">
      <label class="col-xs-10 control-label">please call me about ten20</label>
      <div class="col-xs-2">
        <input type="checkbox" id="callme" class="form-control regular-checkbox" ng-model="data.callme" ng-disabled="sync" />
        <label for="callme"></label>
      </div>
    </div>

    <div class="form-group no-btm-border">
      <label class="col-xs-10 control-label">subscribe to partner newsletter</label>
      <div class="col-xs-2">
        <input type="checkbox" id="subscribe" class="form-control regular-checkbox" ng-model="data.subscribe" ng-disabled="sync" />
        <label for="subscribe"></label>
      </div>
    </div>

  <h4 class="progress-bar" ng-show="sync"><img src="/images/loading_bar.gif" alt="" /></h4>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-hide="sync || succ" ng-click="ok(f)">send</button>
  <button class="btn btn-default" ng-show="succ" ng-click="cancel()">ok</button>
</div>
