<div class="modal-header">
  <h3>{{data.name}}</h3>
  <h6 class="error" ng-show="error!=''">{{error}}</h6>
  <div class="cancel" ng-click="cancel()">
    <span>X</span>
  </div>
</div>
<div class="modal-body">
  <form name="f" class="form-horizontal" role="form">

    <div class="form-group">
      <label for="#first-name" class="col-sm-4 control-label">first name:</label>
      <div class="col-sm-6">
        <input type="text" id="icon-color" class="form-control" ng-model="data.firstName" ng-disabled="sync" />
      </div>
    </div>

  <h4 class="progress-bar" ng-show="sync"><img src="/images/loading_bar.gif" alt="" /></h4>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-hide="sync" ng-click="ok()">save</button>
</div>
