<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- console -->

<div class="floating-ad" ng-show="isVisible()">
    <div class="floating-ad-header">Advertisement - <a class="classic_link" href="mailto:alex@ten20live.com?subject=I'd like to go ad free please">upgrade to ad free</a></div>
    <div class="cancel" ng-click="hide()">
        <span>X</span>
    </div>
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-2006916188932710"
     data-ad-slot="9665106544"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>


