<div class="modal-header">
  <img src="/images/logo.png" alt="" />
  <h3 ng-hide="error!=''">welcome back to ten20</h3>
  <h6 class="error" ng-show="error!=''">{{error}}</h6>
  <div class="cancel" ng-click="cancel()">
    <span>X</span>
  </div>
</div>
<div class="modal-body">
  <form name="f" class="form-horizontal" role="form" ng-class="{'show-invalid': formInvalid}">

    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" id="email" placeHolder="email address" class="form-control" ng-model="data.email"  ng-pattern="/[a-zA-Z0-9]+@[a-zA-Z0-9]+/" required ng-disabled="sync" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <input type="password" id="password" placeHolder="password" class="form-control" ng-model="data.password"  ng-pattern="/\w.*/" required ng-disabled="sync" />
      </div>
    </div>

  <h4 class="progress-bar" ng-show="sync"><img src="/images/loading_bar.gif" alt="" /></h4>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-hide="sync" ng-click="ok(f)">sign in</button>
</div>
