<div class="modal-header">
  <h3>tracker {{data.name}}</h3>
  <h6 class="error" ng-show="error!=''">{{error}}</h6>
  <div class="cancel" ng-click="cancel()">
    <span>X</span>
  </div>
</div>
<div class="modal-body">
  <form name="f" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="#icon-color" class="col-sm-2 control-label">color:</label>
      <div class="col-sm-10">
        <input type="text" id="icon-color" class="form-control" ng-model="data.settings.iconColor" ng-disabled="sync" />
      </div>
    </div>

    <div class="form-group">
      <label for="#icon-email" class="col-sm-2 control-label">email:</label>
      <div class="col-sm-10">
        <input type="text" id="icon-email" class="form-control" ng-model="data.settings.iconEmail" ng-disabled="sync" ng-pattern="/.*@.*/" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="#frequency" class="col-sm-3 control-label">freq(ms):</label>
      <div class="col-sm-9">
        <input type="text" id="frequency" class="form-control" ng-model="data.settings.updateFrequency" ng-disabled="sync" ng-minlength="3" ng-pattern="/^\d+$/"/>
      </div>
    </div>
  </form>
  <h4 class="progress-bar" ng-show="sync"><img src="/images/loading_bar.gif" alt="" /></h4>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-disabled="sync" ng-click="ok()">save</button>
</div>
