<div class="page-wrapper">
  <!-- map render elem -->
  <div id="map" user-map hm-swipe-left="toggleTB('on')" hm-swipe-right="toggleTB('off')">
    <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target=".navbar-collapse" ng-click="toggleTB()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- tool box -->
  <div class="tool-box" ng-show="user._id">
    <!-- general user info --> 
    <div class="time-weather">
      <span ng-bind="timeWeather"></span>
      <!--<a class="info"><img src="/images/user/info-big.png"/></a>-->
    </div>
    <div class="welcome">
      <img src="/images/logo.png" class="logo"/>
      <h6>welcome <span ng-bind="user.username"></span></h6>
    </div>

    <!-- trackers accordion -->
    <accordion close-others="true" class="tracker-list">
      <accordion-group is-open="isopen" ng-class="{opened: isopen}" ng-repeat="tracker in trackers">

        <accordion-heading>
          <span class="first">{{tracker.name | limitTo:18}}</span>
          <span class="dropdown"></span>
        </accordion-heading>

        <div class="tracker-content">
          <tabset>
            <tab class="info-tab">
              <tab-heading class="tracker-info">
                <img src="/images/user/info-whiter.png"/>
                <span>info</span>
              </tab-heading>
              <div class="media">
                <!--<img src="/images/user/avatar.png" class="pull-left avatar"/>
                <div class="media-body">
                  <h6 ng-bind="tracker.location.city"></h6>
                  <h6 ng-bind="tracker.location.weather"></h6>
                  <h6>{{tracker.lastMessage.location.timestamp | timeFormat: 'date'}}</h6>
                </div>
                -->
              </div>
              <div class="current-info">
                <h6>Last seen:<span>{{tracker.lastUpdate | timeFormat: 'from'}}</span></h6>
                <h6>Latitude:<span>{{tracker.lastMessage.location.latitude | number:4 || '--'}}</span></h6>
                <h6>Longitude:<span>{{tracker.lastMessage.location.longitude | number:4 || '--'}}</span></h6>
                <h6>Current speed:<span>{{tracker.lastMessage.location.speed || '--'}}</span></h6>
              </div>
            </tab>

            <tab class="history-tab">
              <tab-heading class="tracker-history">
                <img src="/images/user/trip-small.png"/>
                <span>trip</span>
              </tab-heading>
              <div class="date-select">

                <div class="search">

                  <div class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                      <div class="input-append">
                        <input type="text" class="input-large" ng-model="tracker.trips.search">
                        <img src="/images/user/search.png"/>
                      </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <datetimepicker data-ng-model="tracker.trips.search" 
                      data-on-set-time="onTripTimeSet"
                      data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                    </ul>
                  </div>
                </div>

                <div class="trip-list">
                  <ul>
                    <li ng-repeat="item in tracker.trips.data"
                    ng-click="showTrip(tracker, $index)"
                    ng-class="{active : $index === tracker.trips.active}">
                    <h6><span class="header">started</span><span class="timeslot">{{item.startTime | tripTime}}</span></h6>
                    <h6><span class="header">ended</span><span class="timeslot">{{item.endTime | tripTime}}</span></h6>
                    </li>
                  </ul>
                  <h6 class="error" ng-show="tracker.trips.error !=''">{{tracker.trips.error}}</h6>
                </div>

                <div class="trip-load">
                  <button class="trips-btn" ng-hide="tracker.trips.loading || tracker.trips.error !== '' || tracker.trips.search !== ''" ng-click="loadTrips(tracker)">show more trips</button>
                  <img  ng-show="tracker.trips.loading" src="/images/loading_bar.gif" alt="" />
                </div>

              </div>
            </tab>
          </tabset>
        </div>

        <div class="tracker-bottom">
          <img src="/images/user/setting.png" ng-click="openSetting(tracker)"/>
        </div>

      </accordion-group>
    </accordion>

    <div class="add-tracker" ng-show="trackerLoaded && trackers.length == 0">
        <h3><a model-form src-model="newTracker" tpl-url="/templates/newTracker.html" method="POST" path="/trackers" dialog-class="small" callback="addTracker()">add tracker</a></h3>
    </div>
  </div>

  <!-- bottom nav -->
  <ul class="bottom-nav nav">
    <li style="display:none;" class="signin" model-form tpl-url="/templates/signinForm.html" method="POST" path="/signin" dialog-class="small" callback="init()" close-on-success="true"></li>
    <li><span><a href="/signout">signout</a></span></li>
    <li><span><a model-form src-model="user" tpl-url="/templates/userSetting.html" method="PATCH" path="/users/{{user._id}}" dialog-class="small">my account</a></span></li>
    <li><span><a model-form src-model="newTracker" tpl-url="/templates/newTracker.html" method="POST" path="/trackers" dialog-class="small" callback="addTracker()">add tracker</a></span></li>
    <!--<li><span><a href="/#help">help</a></span></li>-->
  </ul>
</div>
