<div class="page-wrapper">
  <!-- map render elem -->
  <div id="map" user-map></div>
  <!-- tool box -->
  <div class="tool-box">
    <!-- general user info --> 
    <div class="time-weather">
      <span ng-bind="timeWeather"></span>
      <a class="info"><img src="/images/user/info-big.png"/></a>
    </div>
    <div class="welcome"><img src="/images/logo.png" class="logo"/>
      <span class="info">welcome</span><span ng-bind="user.username"></span>
    </div>

    <!-- trackers accordion -->
    <accordion close-others="true" class="tracker-list">
    <accordion-group is-open="isopen" ng-class="{opened: isopen}" ng-repeat="tracker in trackers">

        <accordion-heading>
          <span class="first">tracker</span>
          <span>{{ tracker.serial | limitTo:11 }}</span>
          <span class="dropdown"></span>
        </accordion-heading>

        <div class="tracker-content">
          <tabset>
            <tab class="info-tab">
              <tab-heading class="tracker-info">
                <img src="/images/user/info-whiter.png"/>
                <span>info</span>
              </tab-heading>
              <div class="media"><img src="/images/user/avatar.png" class="pull-left avatar"/>
                <div class="media-body">
                  <h6 ng-bind="tracker.location.city"></h6>
                  <h6 ng-bind="tracker.location.weather"></h6>
                  <h6>{{tracker.lastMessage.location.timestamp | timeFormat: 'date'}}</h6>
                </div>
              </div>
              <div class="current-info">
                <h6>latest activity:<span>{{tracker.lastMessage.location.timestamp | timeFormat: 'time'}}</span></h6>
                <h6>latitude:<span>{{tracker.lastMessage.location.latitude | number:4}}</span></h6>
                <h6>longitude:<span>{{tracker.lastMessage.location.longitude | number:4}}</span></h6>
                <h6>current speed:<span>{{tracker.lastMessage.location.speed}}</span></h6>
              </div>
            </tab>

            <tab class="history-tab">
              <tab-heading class="tracker-history">
                <img src="/images/user/trip-small.png"/>
                <span>trip</span>
              </tab-heading>
              <div class="date-select">

                <div class="media"><img src="/images/user/trip.png" class="pull-left"/>
                  <div class="media-body">
                    <input type="text" class="history-date" datepicker-popup="{{format}}" ng-model="tracker.history.date" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  </div>
                </div>

                <div class="search">
                  <img src="/images/user/search.png"/>
                  <input type="text" placeholder="Search date or place"/>
                </div>

                <ul class="trip-list">
                  <li ng-repeat="item in tracker.history.data"
                  ng-click="updateHistoryTrip($index)"
                  ng-class="{active : isHistoryItemSelected($index)}">
                    <span>time:</span><span ng-bind="item.time" class="timeslot"></span>
                    <img src="/images/user/info-small.png"/>
                  </li>
                </ul>

              </div>
            </tab>
          </tabset>
        </div>

        <div class="tracker-bottom">
          <img src="/images/user/setting.png" ng-click="setUp"/>
        </div>

      </accordion-group>
    </accordion>
  </div>

  <!-- bottom nav -->
  <ul class="bottom-nav">
    <li><span>+<a href="/signout"></a></span></li>
    <li><span>+<a href="/#tracker"></a></span></li>
    <li><span>+<a href="/#setting"></a></span></li>
    <li><span>+<a href="/#help"></a></span></li>
  </ul>
</div>
