<section class="about" id="about-us">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="head">
        <h4>{{about.title}}</h4>
        <h1>{{about.description}}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <ul class="persons">
        <li ng-repeat="person in about.peoples">
        <div class="media">
          <img ng-src="{{person.image}}" class="pull-left img-rounded" />
          <div class="media-body">
            <h4>{{person.name}}</h4> 
            <h5>{{person.title}}</h5> 
            <h6>{{person.location}}</h6> 
            <p>{{person.description}}</p> 
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>

</div>
        
