script(src='/components/socket-io/dist/socket.io.min.js')
script(src='/components/angular/angular.min.js')
script(src='/components/angular-bootstrap/ui-bootstrap.min.js')
script(src='/components/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(src='/components/angular-socket-io/socket.js')
script(src='/components/ng-grid/ng-grid-2.0.7.min.js')
script(src='/components/angular-ui-date/src/date.js')

<!-- @if production=false -->
script(src='/scripts/angular/app.js')
script(src='/scripts/angular/services.js')
script(src='/scripts/angular/controllers/admin.js')
script(src='/scripts/angular/controllers/user.js')
script(src='/scripts/angular/filters.js')
script(src='/scripts/angular/directives.js')
<!-- @endif -->


<!-- @if production=true -->
script(src='/build/angular-all.min.js')
<!-- @endif -->
