section.benefits
  .container
    .row
      .col-md-12
        hr
    .row
      .items
        each item in section.items
          .col-md-3
            img(src="/images/" + item.icon)
            h2= item.title
            p= item.text
