<section class="mapbox">
  <div id="map" home-map map-data="mapSections.homeMasterHead.map">

    <div class="call-to-action">
      <h1>{{mapSections.homeMasterHead.title}}</h1>
      <h2>{{mapSections.homeMasterHead.subTitle}}</h2>
      <a class="button" model-form src-model="form.contact.data"
        tpl-url="{{form.contact.tplUrl}}"
        method="{{form.contact.method}}"
        path="{{form.contact.path}}"
        redirect="{{form.contact.redirect}}"
        dialog-class="{{form.contact.class}}">{{mapSections.homeMasterHead.buttonText}}</a>       
    </div>

    <img src="/images/banner.png" class="banner"/>
</div>
</section>
