section.carousel-view(id=section.name)
  .container
    h4= section.title
    #feature-slide.carousel.slide
      ol.carousel-indicators
        li.active(data-target="#feature-slide",data-slide-to="0")
        li(data-target="#feature-slide",data-slide-to="1")
        li(data-target="#feature-slide",data-slide-to="2")

      // Carousel items
      .carousel-inner
        each item, index in section.items
          - if (index == 0) {
            .item.active
              img(src="/images/" + item.image)
          - } else {
            .item
              img(src="/images/" + item.image)
          - }
          h1.carousel-caption= item.title
          p= item.text

      // Carousel nav
      a.carousel-control.left(href="#feature-slide", data-slide="prev")
        img(src="/images/left-arrow.png")
      a.carousel-control.right(href="#feature-slide", data-slide="next")
        img(src="/images/right-arrow.png")
