<!DOCTYPE html>
<html ng-app="ten20">
<head>
<script src="./components/angular/angular.min.js"></script>
<script src="./components/leaflet-dist/leaflet.js"></script>
<script src="./components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
<link rel="stylesheet" href="./components/leaflet-dist/leaflet.css"/>
<style type="text/css">
    p, h4 {
        margin: 10px 0;
        padding: 0;
    }

    body {
        margin: 5px;
    }

    body, html {
        height: 100%;
    }

    div#control {
        z-index: 100;

        bottom: 1em;
        left: 1em;
        background: white;
        padding: .4em 1em;
        opacity: .8;
        border-radius: 8px;
    }

    input[type=number] {
        width: 90px
    }

    div.angular-leaflet-map {
        width: 100%;
        height: 400px;
    }

    .red {
        border-radius: 120px;
        opacity: .75;
        background-color: #FF0000;
    }

    .blue {
        border-radius: 120px;
        opacity: .75;
        background-color: #0000FF;
    }
</style>
<script>
angular.module("ten20", ["leaflet-directive"]);

function TrackerController($scope, $http) {


    var icons = {
        blue: {
            type: 'div',
            iconSize: [10, 10],
            className: 'blue',
            iconAnchor: [5, 5]
        },
        red: {
            type: 'div',
            iconSize: [10, 10],
            className: 'red',
            iconAnchor: [5, 5]
        }
    };

    // defaults
    angular.extend($scope, {
        // set up map center
        center: {
            lat: 0,
            lng: 0,
            zoom: 2
        },
        markers: {
        },
        paths: {
        },
        trips: {
        },
        layers: {
            baselayers: {
                openStreetMap: {
                    name: 'OpenStreetMap',
                    type: 'xyz',
                    url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
                },
                cloudmade2: {
                    name: 'Cloudmade Tourist',
                    type: 'xyz',
                    url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
                    layerParams: {
                        key: '007b9471b4c74da4a6ec7ff43552b16f',
                        styleId: 7
                    }
                }
            },
            overlays: {
                red: {
                    type: 'group',
                    name: 'red',
                    visible: false
                },

                blue: {
                    type: 'group',
                    name: 'blue',
                    visible: false
                }
            }
        }
    });

    var createTrackersObject = function (trackersArray) {

        var trackersObject = {};
        for (var i = 0; i < trackersArray.length; i++) {
            var tracker = trackersArray[i];
            var tracker = trackersArray[i];
            trackersObject[tracker._id] = tracker;
        }
        return trackersObject;
    };

    var createLatLngObjFromLocation = function (location) {
        var latlng
        if (location && location.latitude && location.longitude) {
            latlng = {
                lat: location.latitude,
                lng: location.longitude
            }
        }
        return latlng;
    };

    var createLatLngFromMessage = function (message) {
        var latlng;
        if (message.location) {
            latlng = createLatLngObjFromLocation(message.location);
        }
        return latlng;
    };

    var updateMarkers = function () {
        var markers = {};

        for (var key in $scope.trackers) {
            var tracker = $scope.trackers[key];
            if (tracker.lastMessage) {
                var latlng = createLatLngFromMessage(tracker.lastMessage);
                if (latlng) {
                    markers[tracker.name] = latlng;
                }
            }
        }
        $scope.markers = markers;
    };

    var setPathBasedOnMessages = function (messages) {
        var path = {
            color: 'red',
            weight: 5,
            latlngs: []
        };

        for (var i = 0; i < messages.length; i++) {
            var messageContainer = messages[i];
            if (messageContainer.message) {
                var message = messageContainer.message;
                if (message.location && message.location.longitude) {
                    path.latlngs.push(createLatLngObjFromLocation(message.location));
                }
            }

        }
        $scope.paths.currentPath = path;
    };

    $http.get('/trackers').success(function (document) {
        $scope.trackers = document.items;

        if (document.items) {
            $scope.trackers = createTrackersObject(document.items);
        }
        updateMarkers();

    });

    var getMessages = function () {
        $http.get('/message/notify').success(function (document) {
            console.log(document.name + ' udpated');
            $scope.trackers[document._id] = document;
            updateMarkers();
            getMessages();
        });
    };
    getMessages();

    $scope.zoomToTracker = function (tracker) {

        if (tracker.lastMessage) {
            console.log(tracker);
            $scope.center.zoom = 14;
            angular.extend($scope.center, createLatLngFromMessage(tracker.lastMessage));
        }
    };

    $scope.getTrip = function (tracker) {

        var trips = $scope.trips[tracker._id];
        if (!trips) {
            trips = $scope.trips[tracker._id] = [];
        }

        var before = '';
        if (trips.length > 0) {
            before = '&_id=before$' + trips[trips.length - 1]._id;
        }
        var url = '/trips?sortBy=_id$desc&limit=1&trackerId=' + tracker._id + before;
        console.log(url);
        $http.get(url).success(function (documents) {

            if (documents.items) {
                for (var i = 0; i < documents.items.length; i++) {
                    var trip = documents.items[i];
                    trips.push(trip);
                }
            }

        });

    };

    $scope.showTrip = function (trip) {
        if (trip.messages && trip.messages.length > 0) {
            setPathBasedOnMessages(trip.messages);
        }
    };

    $scope.showRecentMessages = function (trackerId) {
        $http.get('/recent_messages?sortBy=_id$desc&trackerId=' + trackerId).success(function (document) {
            var messages = document.items;
            if (messages) {
                setPathBasedOnMessages(messages);
            }
        });
    };

    $scope.deleteTracker = function (tracker) {
        $http.delete('/trackers/' + tracker._id).success(function (document) {
            console.log('deleted');
        });
    };

}
</script>
</head>
<body ng-controller="TrackerController">
<leaflet center="center" markers="markers" paths="paths" layers="layers"></leaflet>

<div id="control">
    <div ng-repeat="(id, tracker) in trackers">
        <b>{{tracker.name}}</b>

        <div>{{tracker.lastMessage.}}</div>
        <div ng-click="showRecentMessages(id)">show recent</div>
        <div ng-click="zoomToTracker(tracker)">zoom to tracker</div>
        <div ng-click="getTrip(tracker)">get a trip</div>
        <div ng-click="deleteTracker(tracker)">delete tracker</div>
        <div ng-repeat="trip in trips[id]">
            <b ng-click="showTrip(trip)">trip </b>

            <div>start time {{trip.startTime}}</div>
            <div>end time {{trip.endTime}}</div>
        </div>
    </div>
</div>

</body>
</html>
