/* admin console page styles */
.admin {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.header-bar {
  margin: 20px 0;
}

.admin > h6 {
  text-align: center;
  color: #f60;
  font-size: 16px;
  margin-top: -20px;
  padding-bottom: 10px;
}

.admin > span {
  display: none;
}

.header-bar a.logo {
  float: left;
}

.header-bar a.exit {
  float: right;
  padding: 3px 10px;
  color: #eee;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: underline;
}

.header-bar a.exit:hover {
  color: #f60;
  text-decoration: none;
  background-color: #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
}

/* tweak grid styles */
.admin .grid-header {
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
  margin: 20px 0;
  clear: both;
}

.admin .ngViewport {
  height: auto !important;
  font-size: 13px;
} 

.admin .ngRow.even {
  background-color: #666;
}

.admin .ngRow.odd {
  background-color: #999;
}

.admin .ngTopPanel {
  background-color: #333;
}

.admin .ngFooterPanel {
  background-color: #333;
  border-top: 1px solid #d4d4d4;
}

.admin .ngCell.col8 input[type="button"] {
  margin: 2px auto;
  width: 70px;
  display: block;
}
