.blog-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  margin: 0 auto -50px;
  background-color: #fff;
  padding-bottom: 50px;
}

.blog-wrapper header,
.blog-wrapper + .push {
  background-color: #272727;
  position: relative;
}

.blog-wrapper .search-title {
  font-size: 25px;
  color: #f60;
  font-style: italic;
}

.blog-content {
  color: #333;
}

.blog-content a, .blog-content a:hover {
  color: #333;
  text-decoration: underline
}

.blog-content .row {
  padding-top: 20px;
}

.blog-content .row .col-md-4 {
  margin-top: 30px;
  margin-bottom: 50px;
}

.nav.nav-pills.nav-stacked {
  float: none;
}

.nav.nav-pills.nav-stacked li {
  display: block;
  margin-left: 10px;
}

.nav.nav-pills.nav-stacked li.tag {
  display: inline-block;
  background: #ddd;
  margin-bottom: 5px;
}

.nav.nav-pills.nav-stacked li.tag a {
  color: #333;
  text-decoration: none;
}

.nav.nav-pills.nav-stacked li a {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: underline;
  display: inline;
  cursor: pointer;
}

.col-md-4 .nav-header {
  color: #7C7A7A;
  margin-left: 0;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #aaa;
  margin: 30px 0 10px;
  padding: 5px 0;
}

.col-md-8 > .post {
  margin-bottom: 50px;
}

.post h1 a {
  font: 26px 'open_sansregular', sans-serif;
  text-decoration: none;
  text-transform:uppercase;
  color: #333
}

.post .date {
  font: 400 15px/25px arial;
  color: #aaa;
}

.post .content {
  font-size: 16px;
  margin-top: 10px;
}

.post .content h1 {
  font: 24px 'open_sansregular', sans-serif;
}

.post .content h2 {
  font: 22px 'open_sansregular', sans-serif;
}

.post .content h3 {
  font: 20px 'open_sansregular', sans-serif;
}

.post .content h4,
.post .content h5 {
  font: 18px 'open_sansregular', sans-serif;
}

.post .content ul {
  list-style: initial;
}
.post .content th,
.post .content td {
  text-align: center;
  border: 1px solid #555;
}

.post .content th {
  font-family: sans-serif;
  font-weight: bold;
}

.content p a[href^="/blogs/"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  background-color: #bbb;
  color: #eee;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.blog-search input {
  background-color: #FFF;
}

.nav-header a.pull-right {
  margin-top: -4px;
}

.nav-header a.pull-right img {
  width: 23px;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #f60;
    border-color: #f60;
}

.pagination>li>a, .pagination>li>span {
    color: #333
}
