@import url("https://fast.fonts.com/t/1.css?apiType=css&projectid=4e9d8d48-80ae-404c-98ef-b169fe3b02f6");
@font-face{
font-family:"AvenirNextLTW01-Regular";
src:url("/styles/fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
src:url("/styles/fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("/styles/fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("/styles/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("/styles/fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
}
@font-face{
font-family:"Avenir Next LT W01 Demi";
src:url("/styles/fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
src:url("/styles/fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),url("/styles/fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),url("/styles/fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),url("/styles/fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
}

/* general styles */
html {
  height: 100%;
}

body {
  color: #eee;
  background-color: #272727;
  padding: 0;
  margin: 0;
  font: 400 11px/18px 'AvenirNextLTW01-Regular', 'Avenir Next LT W01 Demi', Arial;
  letter-spacing: 1px;
  height: 100%;
}

a {
    text-decoration:none;
    color: #eee;
}

a:hover {
    color: #fff;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

h1 {
  font: 400 36px/54px 'AvenirNextLTW01-Regular', sans-serif;
  letter-spacing: 3px;
}

h2 {
  font: 400  14px/21px 'AvenirNextLTW01-Regular', sans-serif;
}

h3 {
  font: 400 11px/18px 'AvenirNextLTW01-Regular', sans-serif;
  text-transform: uppercase;
}

h4 {
  font: 400 11px/18px 'Avenir Next LT W01 Demi', sans-serif;
  text-transform: uppercase;
}

h5 {
  font: 400 11px/18px  Arial, 'AvenirNextLTW01-Regular', 'Avenir Next LT W01 Demi';
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

ul { list-style: none; }

.clear {
  clear: both;
}

/* header styles */
header {
  padding: 20px 0;
}

.nav {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 0;
  float: right;
}

.logo {
  float: left;
}

.nav > li {
  display: inline;
  margin-left: 20px;
}

.nav > li a {
  font-size: 11px;
  font-weight: 400;
  color: #eee;
  padding: 5px 8px;
  display: inline;
  text-transform: uppercase;
  cursor: pointer;
}

.nav > li a:hover {
  background: none;
  text-decoration: underline;
}

.nav > li a.active {
  color: #f60;
}

.wrapper .alert {
  color: black;
  margin-bottom: 20px;
  background-color: #ccc;
  text-shadow: none;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.wrapper .alert .close {
  color: black;
  text-shadow: none;
  opacity: 1;
}

.wrapper .alert .close:hover {
  color: #d60;
}

/************************* home page styles *********************************/
/* map section styles */
.mapbox {
  position: relative;
  height: 501px;
  width: 100%;
  background-color: #272727;
  border-top: 1px solid #aaa;
}

.mapbox #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: inherit;
}



/* map controls */
.leaflet-bar {
  background: none;
  box-shadow: none;
}

.leaflet-bar a:first-child {
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
}

.leaflet-bar a:last-child {
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.leaflet-bar a {
  background-color: #333;
  background-image: none;
  color: #CCC;
  border-bottom: 2px solid #aaa;
  width: 36px;
  height: 36px;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  text-indent: 2px;
  text-align: center;
}

.leaflet-bar a:hover {
  width: 36px;
  height: 36px;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  text-indent: 2px;
  background-color: #333;
  border-bottom-color: #aaa;
  color: #f60;
}

.leaflet-bar, .leaflet-touch .leaflet-bar {
  border: none;
}

.leaflet-control-container .leaflet-control-layers,
.leaflet-control-layers-expanded {
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
}

.leaflet-control-layers-toggle {
  display: none;
}

.leaflet-control-layers .leaflet-control-layers-list {
  display: block;
  color: #333;
  border: none;
}

.leaflet-control-layers .leaflet-control-layers-list.darker {
  color: #eee;
}

.user-page .leaflet-control-layers .leaflet-control-layers-list {
  color: #eee;
}

.user-page .leaflet-control-layers .leaflet-control-layers-list.darker {
  color: #333;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  position: static;
}

.leaflet-control-layers-base label .leaflet-control-layers-selector {
  display: none;
}

.leaflet-control-layers-base label.active {
  border-bottom: 3px solid #f60;
}

.leaflet-control-layers label {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}

.leaflet-control-layers {
  box-shadow: none;
  background: none;
  -webkit-border-radius: 0;
  border-radius: 0;
} 

.leaflet-container h1 {
  font-size:36px;
  line-height:54px;
  letter-spacing: 3px;
}

.leaflet-container h2 {
  font-size:14px;
  line-height:21px;
}

.mapbox-control-info {
  display: none !important;
}

/* hide legends and attribution */
.mapbox #map .map-legends.leaflet-control,
.mapbox #map .leaflet-control-attribution {
  display: none;
}

.mapbox .call-to-action {
  position: absolute;
  top: 270px;
  left: 0;
  right: 0;
  color: #eee;
  text-align: center;
  z-index: 100;
}

.mapbox .call-to-action h1 {
  text-shadow: 1px 1px 2px black;
}

.mapbox .call-to-action h3 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: none;
}

.mapbox .call-to-action a.button {
  display: inline-block;
  padding: 20px 20px;
  margin: 10px;
  color: #eee;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  border: none;
  background-color: #f60;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-transform: uppercase;
}

.mapbox .banner {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 100;
}

/* benefits section styles */
.benefits {
  color: #333;
  background-color: #eee;
  padding: 40px 0 10px 0;
  text-align: center;
  position: relative;
  width: inherit;
}

.benefits hr {
  border-top: 1px rgb(255, 100, 0) solid;
  margin: 0 10%;

}

.benefits .items {
  position: relative;
  top: -15px;
  font-size: 14px;
}

.benefits .items p {
  text-align: left;
  font: 11px/15px Arial;
  font-weight: normal;
}

.benefits .items img {
  max-width: 70%;
  background-color: #eee;
  padding: 0 40px;
}

/* list view section styles */
.list-view .row .col-md-8 {
  margin: 30px auto;
  float: none;
  text-align: center;
  font-weight: normal;
}

.list-view .feature-item {
  padding-bottom: 20px;
}

.list-view .col-md-8 h4 {
  padding-bottom: 20px;
}

.list-view .col-md-8 h1 {
  text-transform: none;
  margin: 50px 0;
}

.list-view .col-md-8 h1 span {
  color: #f60;
}

.list-view .col-md-8 h2 {
  max-width: 600px; 
  margin: 20px auto;
}

.list-view .list-content {
  max-width: 600px;
  width: 90%;
  padding-bottom: 60%;
  display: inline-block;

}


/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    text-align: center;
}
/* carousel-view section styles */
.carousel-view {
  padding: 60px 0;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.carousel-view .container {
  position: relative;
}

.carousel-view h4 {
  text-align: center;
  padding-bottom: 20px;
  color: #eee;
}

.jcarousel-pagination {
  position: absolute;
  top: auto;
  left: 50%;
  width: 100px;
  margin-left:-50px;
  bottom: -30px;
}

.carousel-view .jcarousel-pagination a.active {
  background-color: #f60;
}

.carousel-view .jcarousel-pagination a {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #ddd;
  border: none;
}

.carousel-view a.controls {
  display: block;
  position: absolute;
  width: 12px;
  height: 17px;
  top: 45%;
  opacity: 0.7;
}

.carousel-view a.controls:hover {
  opacity: 1;
}

.carousel-view .jcarousel-next {
  right: 100px;
  background: url(/images/right-arrow.png) no-repeat;
}

.carousel-view .jcarousel-prev {
  left: 100px;
  background: url(/images/left-arrow.png) no-repeat;
}

/* pricing section styles */
.pricing {
  text-align: center;
  overflow:auto;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.pricing h4 {
  padding-top: 50px;
  padding-bottom: 10px;
}

.pricing .col-md-4 {
  margin: 0;
  padding-top: 40px;
}

.pricing .highlight {
  border: 3px solid #f60;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.pricing .highlight > h3 {
  text-transform: uppercase;
  margin-top: -30px;
  font-size: 16px;
}

.pricing .head {
  background-color: #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 10px;
  padding-bottom: 50px;
}

.pricing .highlight .head {
  background-color: #d60;
}

.pricing .head h3 {
  color: #eee;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 14px;
}

.pricing .head > a {
  margin-bottom: 20px;
  padding: 10px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  text-transform: uppercase;
  text-decoration: none;
  color: #f60;
  font-size: 16px;
  cursor: pointer;
}

.pricing .col-md-4:first-child .head h3,
.pricing .col-md-4:last-child .head h3 {
  color: #f60;
}

.pricing .head h5 {
  padding-bottom: 10px;
  text-indent: 20px;
  margin-bottom: 30px;
}

.pricing .col-md-4:first-child .head h5 {
  text-indent: 0;
}

.pricing .head h5 .dollar {
  font-size: 20px;
  line-height: 40px;
  vertical-align: top;
  font-family: arial;
}

.pricing .head.highlight h3 {
  color: #272727;
  font-weight: bold;
}

.pricing .head h5 .price {
  margin-left: 5px;
  font-size: 60px;
  line-height: 45px;
  letter-spacing: 5px;
}

.pricing .head h5 .postfix {
  font-size: 20px;
  font-style: italic;
}

.pricing .col-md-4 ul {
  margin: 20px auto;
  width: 70%;
  max-width: 300px;
  padding: 0;
}

.pricing .col-md-4 li {
  margin: 2px 0;
  padding: 10px 0 10px 20px;
  width: 100%;
  background-color: #666;
}

.pricing .col-md-4 p {
  text-align: left;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.about {
  margin: 80px auto;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.about .row .col-md-8 {
  margin: auto;
  float: none;
}

.about .head {
  text-align: center;
  margin-bottom: 50px;
}

.about .head h4 {
  padding-bottom: 20px;
}

.about ul {
  margin: 0;
  padding: 0;
}

.about li {
  margin-bottom: 30px;
}

.about li .media>.pull-left {
  margin-right: 25px;
}

.about li .media h4 {
  color: #f60;
  font-size: 20px;
}

.about li .media h5 {
  font: italic 16px/20px arial;
}

.form label {
  text-align: left;
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}

.form input {
  width: auto;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.form input.required {
  border: 1px solid red;
}

.form input[type="text"],
.form input[type="password"] {
  color: #aaa;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  color: white;
  border: none;
  box-shadow: none;
}

.form input[type="checkbox"] {
  float: right;
  width: 20px;
  height: 20px;
}

.form button {
  margin: 20px auto;
  padding: 18px;
  max-width: 180px;
  width: 90%;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: rgb(255, 102, 0);
  opacity: 1;
  background:rgba(255, 102, 0, 1);
  color: #eee;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.form button + p {
  text-align: left;
  color: #999;
}

.regular-checkbox {
  display: none;
}
 
.regular-checkbox + label {
    background: none;
    border: 1px solid #eee;
    color: white;
    padding: 12px;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    top: -5px;
    float: right;
}
 
 
.regular-checkbox + label:hover {
  color: #f60;
  border: 1px solid #f60;
}

.regular-checkbox:checked + label {
    background: none;
}
 
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 5px;
}

/* login page styles */
.submit-form-container {
  width: 80%;
  padding: 5px;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 50px;
}

.submit-form-container a.controls {
  color: #eee;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
}

.submit-form-container .alerter{
  display: none;
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: -10px;
}

.submit-form-container .control-label{
  font-size: 14px;
}

.submit-form-container .btn{
  background-color: #eee;
}


.faq {
  text-align: center;
}

.faq .row .col-md-8 {
  margin: auto;
  float: none;
}

.faq .questions {
  list-style: initial;
  text-align: left;
}

.faq .questions h5 {
  color: #f60;
}

/* footer styles */
footer {
  width: 100%;
  color: #eee;
  height: 50px;
  text-align: center;
}

footer p {
  padding-top: 15px;
  border-top: 1px solid #aaa;
  font-size: 12px;
}

/** modal dialog styles */
.modal.small .modal-content {
  width: 300px;
}

.modal.big .modal-content {
  width: 400px;
}

.modal-header {
  border: none;
  margin: 0;
  padding: 20px 10px 0px 10px;
}

.modal-header h3 {
  text-transform: none;
  padding: 0 30px;
  font-size: 15px;
  line-height: 25px;
}

.modal-header .succ {
  color: #f60;
}

.modal-header .cancel {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  padding: 2px 5px;
  cursor: pointer;
}

.modal-header .error {
  color: rgb(240, 74, 74);
}

.modal-content {
  background-color:rgba(0,0,0,0.7);
  text-align: center;
  margin: 100px auto;
}

.modal-content .modal-body {
  padding-bottom: 0;
}

.modal-body .form-group {
  text-align: left;
  padding-top: 12px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
}

.modal-body {
  padding-top: 0;
}

.modal-body p {
  font-size: 13px;
}

.modal-body .form-group > div {
  padding-right: 5px;
}

.modal-body .show-invalid .form-group .ng-invalid {
  border: 1px solid red;
}

.modal-body .form-group.no-btm-border {
  border-bottom: none;
  padding-left: 15px;
}

.modal-body .form-group label {
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 13px;
}

.modal-body .form-group input {
  display: block;
  height: 40px;
  padding: 10px;
  margin: 0;
  text-indent: 5px;
  line-height: 30px;
  background-color:rgba(0,0,0,0.0);
  border: 1px solid #666;
  color: #aaa;
}

.modal-body .form-group input:focus {
  outline: none;
  border: 1px solid #f60;
  box-shadow: none;
  background-color: #000;
}

.modal-body .progress-bar {
  text-align: center;
  width: 100%;
  background: none;
}

.modal-body .progress-bar img {
  width: 40px;
}

.modal-footer {
  border: none;
  text-align: center;
}

.modal-footer button {
  width: 130px;
  height: 50px;
  border: 0;
  opacity: 1;
  background: rgba(255,102,0,1);
  color: #eee;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 30px;
  font-size: 20px;
}


.modal-footer button:hover {
  background: rgba(255,102,0,1);
  color: #eee;
}

.modal.small .modal-footer button {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
  font-size: 13px;
}

/************ check box styles ****************/
label {
  display: inline;
}
.regular-checkbox {
  display: none !important;
}
.regular-checkbox + label {
  background-color: #333;
  border: 1px solid #aaa;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px !important;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox + label:hover,
.regular-checkbox:checked + label:hover {
  color: #f60;
}

.regular-checkbox + label:active,
.regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label {
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}
.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #eee;
}
.big-checkbox + label {
  padding: 18px;
}
.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px;
}
/****************************/

/************************* login page styles *********************************/

/************************* 404 page styles *********************************/
.page-not-found {
  margin: 100px auto 10px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
}

.page-not-found h2 {
  margin-top: 20px;
}

.page-not-found p {
  color: #f60;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: normal;
  line-height: 30px;
  max-width: 350px;
  margin: 20px auto;
}

.page-not-found p a {
  color: #eee;
}

/* tablet and mobile styles */
@media only screen and (max-width: 979px) {

  .wrapper .container {
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
  }

  .mapbox .call-to-action {
    position: absolute;
    top: 200px;
  }

  .nav > li {
    margin-left: 10px;
  }
}


@media only screen and (max-width: 767px) {

  .navbar { margin-bottom: 0;}

  .navbar .navbar-collapse {
    clear: both;
    padding: 0;
  }

  .navbar-collapse .nav { 
    width: 100%;
  }

  .navbar .navbar-btn {
    margin-top: 5px;
    margin-left: 10px;
    float: right;
  }

  .navbar .navbar-btn .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    background-color: #f60;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  }

  .navbar .navbar-collapse .nav > li {
    display: block;
    margin: 10px 0;
    width: 100%;
  }

  .navbar .navbar-collapse .nav > li a {
    width: 90%;
    display: inline-block;
    text-shadow: none !important;
    color: #eee;
  }

  .navbar .navbar-collapse .nav > li:hover a{
    color: #f60;
  }

  .mapbox .call-to-action {
    position: absolute;
    top: 150px;
  }

  .mapbox .call-to-action span {
    display: block;
  }

  .benefits hr {
    display: none;
  }

  .benefits .items .col-md-3 {
    width: 100%;
    margin: 0;
    padding: 15px;
  }

  .benefits .items .col-md-3 p {
    text-align: center;
  }

  .carousel-view .carousel-inner img {
    max-width: 100%;
  }

  .carousel-view .carousel-caption {
    position: absolute;
  }

  .pricing .col-md-4 {
    border: none;
  }

  .pricing .col-md-4:first-child {
    margin-left: 0;
  }

  .contact {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
  }

  .contact .form {
    margin: 50px auto;
    padding: 40px 20px 80px;
  }
}

/* screen of tablet height style */
@media only screen and (max-height: 800px) {
  .contact .form {
    margin: 0px auto;
    padding: 10px 20px 80px;
  }

  .contact .form li {
    height: 25px;
  }
}

/* mobile styles */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 16px;
    line-height: 21px;
  }

  .call-to-action h1 {
    font-size: 36px;
    line-height: 54px;
  }

  .about li {
    text-align: center;
  }

  .about li .media>.pull-left {
    margin: auto;
    max-width: 30%;
  }

  .about .media,
  .about .media-body {
    overflow: visible;
  }

  .about .media-body p {
    margin-top: 20px;
    text-align: left;
  }

  .modal-content {
    margin: 30px auto;
  }
}

/* iphone width mobile styles */
@media only screen and (max-width: 355px) {

  .mapbox .call-to-action {
    top: 100px;
  }

  .carousel-view .carousel-caption {
    font-size: 18px;
  }
}
