/* user dashbord page styles */
body { margin:0; padding:0; }

/* map styles */
.map-canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.map-canvas #map {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  background-color: #aaa;
  z-index: 1;
}

.user-page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.user-page h4,
.user-page h5,
.user-page h6,
.user-page span {
  font-family: 'AvenirNextLTW01-Regular', 'Avenir Next LT W01 Demi', Arial;

}

/* tool box styles */
.tool-box {
  position: fixed;
  top: 10%;
  right: 5%;
  width: 250px;
  background-color: #333;
  z-index: 2000;
}

.time-weather {
  text-transform: capitalize;
  color: #aaa;
  padding: 5px;
  font-size: 10px;
  cursor: move;
}

.time-weather a {
  float: right;
  padding-top: 5px;
}

.welcome {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
}

.welcome img {
  width: 20%;
}

.welcome span {
  display: inline-block;
  font-size: 12px;
  text-transform: capitalize;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 10px;
}

.welcome span.info {
  margin-left: 60px;
}

/* calendar styles */
.dropdown-menu {
  background-color: #333;
  margin: 0;
  padding: 0;
}

.dropdown-menu table .btn {
  border: none;
  background: none;
  color: #eee;
  border-radius: 0;
  box-shadow:none;
  text-shadow: none;
  font-size: 12px;
  line-height: 15px;
}

.dropdown-menu table .btn:hover {
  color: #f60;
}

.dropdown-menu table .btn.btn-info {
  background-color: #f60;
}

.dropdown-menu table .btn.btn-info:hover {
  color: #eee;
}

.dropdown-menu .glyphicon.glyphicon-chevron-right {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/images/user/calendar-right.png");
}

.dropdown-menu .glyphicon.glyphicon-chevron-left {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/images/user/calendar-left.png");
}

.glyphicon.glyphicon-chevron-right:before, 
.glyphicon.glyphicon-chevron-left:before {
  display: none;
}

tr td,
.h6 th {
  text-align: center;
  border: 1px solid #555;
}

.h6 th {
  color: #f60;
}

/* trip info styles */
.trip-info {
  position: absolute;
  left: 300px;
  top: 100px;
  left: 66px;
  top: 560px;
  width: 250px;
  padding: 10px;
  background-color: #444;
  z-index: 2000;
}

.trip-info h5 {
  background-color: #333;
  text-transform: capitalize;
  border-bottom: 1px solid #666;
  margin: -10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
  cursor: move;
}

.trip-info h5 img {
  float: right;
}

.status-bar {
  position: absolute;
  left: 200px;
  top: 300px;
  width: 200px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #333;
  z-index: 2000;
}

.status-bar img {
  margin-right: 15px;
}

.status-bar span.elevation,
.status-bar span.speed {
  display: inline-block;
  margin-right: 20px;
  margin-left: 5px;
}

.tracker-list {
  margin: 0;
  padding: 0;
  clear: both;
}

.tracker-list li {
  cursor: default;
}

.panel-group .panel {
  background: none;
  border: none;
}

.panel-group .panel .panel-heading {
  padding: 10px;
  border-top: 1px solid #444;
  background: none;
}

.panel-group .panel+.panel {
  margin-top: 0;
}

.panel-heading .panel-title {
  height: 15px;
  position: relative;
}

.panel-heading .panel-title > a{
  line-height: 15px;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.panel-heading .panel-title > a:hover{
  text-decoration: none !important;
}

.panel-heading .first {
  margin-right: 10px;
}

.panel-heading span {
  color: #bbb;
  font-size: 16px;
  text-transform: capitalize;
}

.panel-heading:hover span {
  color: #eee;
}

.panel-heading span.dropdown{
  display: inline-block;
  float: right;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  background-repeat: no-repeat;
  background-image: url("/images/user/arrow-right.png");
}

.panel-collapse .panel-body {
  padding: 10px 0;
}

.panel-group .panel-heading +.panel-collapse .panel-body {
  border-top: none;
}

.opened .panel-heading span.dropdown{
  margin-top: 5px;
  background-image: url("/images/user/arrow-down.png");
}

.tracker-content {
  background-color: #333;
}

.tracker-content .tab-content {
  padding: 10px;
}

/* style for tracker tabs */

.tracker-content .nav {
  float: none;
  margin: 0;
  padding: 0;
  border: none;
}

.tracker-content .nav li {
  width: 125px;
  height: 42px;
  display: inline-block;
  background-color: #333;
  font-size: 13px;
  float: left;
  margin: 0;
  text-transform: capitalize;
}

.tracker-content .nav li.active {
  background-color: #454545;
}

.tracker-content .nav > li a,
.tracker-content .nav > li a:hover {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: #eee;
  display: inline-block;
  width: 100%;
}

.tracker-content .nav > li img {
  margin: 5px 15px;
  margin-top: 12px;
  float: left;
}

.tracker-content .nav > li span{
  vertical-align: middle;
  line-height: 42px;
}

.tracker-content .tab-pane {
  margin: -10px;
  padding: 10px;
  background-color: #454545;
}

.tracker-content .history-tab {
  margin-top: -20px;
}

.tracker-content.info-show .tracker-info {
  background-color: #444;
}

.tracker-content.info-show .history-tab {
  display: none;
  margin-top: -20px;
}

.tracker-content.history-show .tracker-history {
  background-color: #444;
}

.tracker-content.history-show .info-tab {
  display: none;
}

.tabs-content {
  background-color: #444;
}

.info-tab {
  margin: 10px;
  margin-top: -10px;
}

.info-tab .media {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #555;
}

.info-tab .media > .pull-left {
  margin-right: 20px;
}

.info-tab .media-body {
  margin-top: 10px;
}

.info-tab .media-body h6 {
  color: #aaa;
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-family: arial;
  line-height: 15px;
}

.current-info h6 {
  text-transform: capitalize;
  font-family: 'AvenirNextLTW01-Regular';
  font-size: 12px;
}

.current-info h6 span {
  margin-left: 5px;
  color: #f60;
}

.tracker-content + .tracker-bottom {
  background-color: #333;
  padding-top: 10px;
}

.tracker-bottom > a {
  color: #eee;
  display: inline-block;
  margin-left: 10px;
  width: 100px;
  height: 42px;
  font-size: 15px;
  text-decoration: none;
}

.tracker-bottom > img {
  float: right;
  margin-right: 10px;
}


.date-select .media img {
  margin: 20px;
}

.date-select .media-body h6 {
  margin-top: 20px;
  color: rgba(211, 88, 5, 0.7);
  font-weight: bold;
}

.date-select .media-body input {
  position: relative;
  visibility: hidden;
  height: 1px;
  width: 1px;
}

.search {
  width: 200px;
  margin: auto;
  padding: 0;
  padding-left: 20px;
  background-color: #333;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.search img {
  margin: auto 10px auto 15px;
}

.search input[type="text"] {
  color: #eee;
  background: none;
  width: 130px;
  margin: auto;
  padding: 8px;
  border: none;
  outline: none;
  background-color: #333;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-size: 12px;
}

.search input[type="text"]:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.search .dropdown-menu {
  left: -10px !important;
}

.error {
  text-align: center;
  margin: 20px auto;
  font-size: 13px;
  text-transform: capitalize;
  color: #f60;
}

.trip-list {
  margin: 10px 0;
  padding: 0;
}

.trip-list > li {
  font-size: 13px;
  text-transform: capitalize;
  margin: 0 -10px;
  padding: 5px;
  padding-left: 10px;
  border-top: 1px solid #666;
}

.trip-list > li .header {
  text-transform: capitalize;
  display: inline-block;
  width: 45px;
}

.trip-list > li.active {
  background-color: #333;
}

.trip-list > li:last-child {
  border-bottom: 1px solid #666;
}

.trip-list > li img {
  float: right;
  margin: -10px;
  padding: 13px;
  border-left: 1px solid #666;
}

.trip-list > li span.timeslot {
  color: #f60;
  margin-left: 10px;
}

.trip-load {
  text-align: center;
}

.trip-load .btn {
  text-transform: capitalize;
  color: #f60;
  background-image: none;
  background-color: #eee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 0;
}

/* nav styles*/
.bottom-nav {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 100%;
  background-color: #333;
  list-style: none;
  z-index: 2000;
}


.bottom-nav li {
  display: inline-block;
  margin: 5px 10px 0 25px;
  float: right;
  cursor: pointer;
}


.bottom-nav li span {
  display: inline-block;
  height: 22px;
  margin-right: 5px;
  font-size: 14px;
  text-align: center;
}

.bottom-nav li span:before {
  content: "+";
  display: inline-block;
  opacity: 0;
  width: 22px;
}

.bottom-nav li:hover span {
  color: #eee;
}

.bottom-nav li:hover span:before {
  opacity: 1;
  background-image: url(/images/user/menu.png);
}

.bottom-nav li a {
  color: #aaa;
  text-transform: capitalize;
}

.bottom-nav li:hover a {
  text-decoration: none;
  color: #eee;
}

.bottom-nav li.active a {
  color: #eee;
}

/* marker popup styles */
.leaflet-popup-content p {
  line-height: 30px;
  text-indent: 10px;
  text-transform: uppercase;
}

.leaflet-popup-content p span {
  color: #eee;
  margin-left: 2px;
  margin-right: 3px;
  font-size: 13px;
}

.leaflet-popup-content p  .marker {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 10px;
}

.leaflet-popup-content {
  min-width: 190px !important;
  width: auto !important;
  margin: 0;
  padding: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 20px;
  background-color: #333;
  color: #eee;
  padding: 0;
}

.leaflet-popup-tip-container {display: none;}

.leaflet-popup {
  bottom: -33px !important;
  left: -20px !important;
}
/* styles for smaller pc screens */

