extends layout

block content
  h2.search-title
    span search results:&nbsp;
    = posts.length + ' articles for '
    em.text-danger
      strong= key
  - each post in posts
    include includes/postSnippet

