extends layout

block content

  section.admin(ng-controller="ContactUserCtrl")
    div.header-bar
      a.logo(href="/")
        img(src="/images/logo.png")
      a.exit(href="/admin/logout") logout

    h1.grid-header contact user information
    h6(ng-bind="error", ng-show="error")
    span(ng-bind="totalServerItems")
    div.grid
       div.gridStyle(ng-grid="gridOptions")
