extends layout-admin

block content
  script(src='/components/angular/angular.min.js')
  script(src='/components/ng-grid/ng-grid-2.0.7.min.js')
  script(src="/scripts/console/app.js")

  section.admin-console
    div.header-bar
      a.logo(href="/")
        img(src="/images/logo.png")
      a.exit(href="/admin/login") logout

    h1.grid-header contact user information
    div.grid(ng-controller="ContactUserCtrl")
       div.gridStyle(ng-grid="gridOptions")
