extends layout

block content
  section.map-canvas(ng-controller='UserCtrl')
    div(google-ads)
    div.user-page(user-console, ng-class="{'ads-desktop': adsShow().desk, 'ads-mobile': adsShow().mobile}")
