extends layout

block content
  .wrapper(ng-controller=controller)
    include partials/cookie.jade
    include partials/nav-bar.jade
    include partials/nav-bar-mobile.jade
    if master
      include partials/call-to-action.jade
    if benefits
      include partials/benefits.jade
    if features
      include partials/list.jade
    if slides
      include partials/carousel.jade
    if plans
      include partials/plans.jade
    if about
      include partials/about.jade

  .push
    footer
      p Copyright (c) 2013-2014 Birkett Enterprise Ltd <a class="classic_link" href="/docs/terms-of-service">Terms of service</a> <a class="classic_link" href="/docs/privacy-policy">Privacy policy</a>

