extends layout

block content
  .wrapper(ng-controller="HomeCtrl")
    include partials/cookie.html
    each section in sections
      if section.type == 'nav-bar'
        include partials/nav-bar.html
        include partials/nav-bar-mobile.html
      if section.type == 'call-to-action'
        include partials/call-to-action.html
      if section.type == 'benefits'
        include partials/benefits.html
      if section.type == 'list'
        //include partials/list
      if section.type == 'carousel'
        include partials/carousel.html
      if section.type == 'pricing'
        include partials/plans.html
      if section.type == 'about-us'
        include partials/about.html

  .push
    footer
      p Copyright (c) 2013 Birkett Enterprise Ltd

