doctype 5
html(ng-app="ten20Angular")
  include partials/head
  include partials/angular
  body
    .wrapper
      block content
      .push
    footer
      p Copyright (c) 2013 Birkett Enterprise Ltd
