extends layout-angular

block content
  .login-form.submit-form-container
    .row
      ..col-md-12
        form.form-horizontal.submit-form
          .form-group
            a.(href='/')
              img(src='/images/logo.png')
              | admin

            h5.alerter login failed!

          .form-group
            label.control-label(for="username") Username
              input(type="text",id="username",placeholder="user name")

          .form-group
            label.control-label(for="password") Password
              input(type="password",id="password", placeholder="Password")
              br
              br
              button.btn(type="submit") Sign in
      script
        $(function() {
          ten20.submitForm('/admin/login', '/admin');
        })
