extends layout

block content
  .wrapper(ng-controller="PartnerCtrl")
    include partials/cookie.html
    include partials/nav-bar.html
    include partials/nav-bar-mobile.html
    include partials/call-to-action.html
    include partials/benefits.html
    include partials/about.html

  .push
    footer
      p Copyright (c) 2013 Birkett Enterprise Ltd

