extends layout-angular

block content
  .signup-form.submit-form-container
    .row
      .col-md-12
        form.form-horizontal.submit-form
          .form-group
            a(href='/')
              img(src='/images/logo.png')
              | sign up

            h5.alerter sign up failed!

          .form-group
            label.control-label(for="username") Username
              input(type="text", id="username", placeholder="user name")

          .form-group
            label.control-label(for="email") Email
              input(type="text", id="email", placeholder="email address")

          .form-group
            label.control-label(for="password") Password
              input(type="password", id="password", placeholder="Password")

          .form-group
            label.control-label(for="re-password") Retype Password
              input(type="password", id="re-password", placeholder="Password")
              br
              br
              button.btn(type="submit") sign up 

      script
        $(function() {
          ten20.submitForm('/signup', '/#signin');
        })
